* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/bali.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 3%;
}
header a {
    text-decoration: none;
    color: white;
    width: 10vw;
    font-size: 1.5vw;
    border: 1.5px solid white;
}
header a:nth-child(1) {
    border: none;
}
header a img {
    width: 100%;
    border-radius: 5%;
}
header a:nth-child(3) {
    color: aqua;
    border-color: aqua;
}

footer {
    padding: 10px;
    margin-bottom: 1%;
    text-align:center;
    width: 100%;
    background-color: rgba(185, 111, 0, 0.676);
    text-shadow:  8px 8px 8px rgb(0, 0, 0);
}
footer li {
    color: white;
    font-weight: bold;
}


h3 {
    writing-mode: vertical-lr;
    margin-left: 1%;
    letter-spacing: 10px;
    color: white;
    text-shadow:  3px 3px 3px rgb(74, 130, 0);
    font-size: 200%;
}

main {
    display: flex;
    flex-direction: row;
    width: 82%;
    color: white;
    text-shadow:  3px 3px 3px rgb(74, 130, 0);
    margin-bottom: 3%;
}
main article {
    margin: auto;
    text-align: justify;
    display: block;
    width: 95%;
    position: relative;
    justify-content: space-between;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    margin-top: 5%;
    background-color: rgba(0, 255, 38, 0.584);
    border: 3px dotted rgb(74, 130, 0);
}
main article h2 {
    text-align: center;
    color: rgb(71, 39, 17);
    padding-bottom: 15px;
}
main second-part article:last-child {
    padding: 10px;
    padding-bottom: 0px;
}

aside {
    color: rgb(71, 39, 17);
    text-shadow:  3px 3px 3px rgb(74, 130, 0);
    position: fixed;
    top: 13%;
    right: 2%;
    padding: 10px;
    background-color: rgba(0, 255, 38, 0.584);
    border: 3px  dotted rgb(74, 130, 0);
    width: 15%;
}
aside h2 {
    padding-bottom: 20px;
}
aside a {
    border: 0px;
    border-bottom: 2px;
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
aside a:last-child {
    border: none;
}
aside a:hover {
    color:rgb(71, 39, 17);
    border-color: white;
}
aside a:before {
    content: '\27BA  ';
}

footer {
    text-shadow:  3px 3px 3px rgb(74, 130, 0);
    padding: 10px;
    text-align: center;
    display: block;
    position: relative;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 255, 38, 0.584);
}
footer li {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

@media (max-width: 800px) {
    h3 {
        writing-mode: horizontal-tb;
    }
    main {
        width: 100%;
        flex-direction: column;
    }
    aside {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2%;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    aside h2 {
        padding-bottom: 0;
    }
    aside a {
        border: none;
        padding: 0;
    }
    article {
        width: 100%;
    }
    footer {
        width: 100%;
        margin-left: 0;
    }
}