* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/santorini/santorini3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 3%;
}
header a {
    text-decoration: none;
    color: white;
    width: 10vw;
    font-size: 1.5vw;
    border: 1.5px solid white;
}
header a:nth-child(1) {
    border: none;
}
header a img {
    width: 100%;
    border-radius: 5%;
}
header a:nth-child(5) {
    color: aqua;
    border-color: aqua;
}

footer {
    padding: 10px;
    margin-bottom: 1%;
    text-align:center;
    width: 100%;
    background-color: rgba(108, 204, 164, 0.566);
    text-shadow:  8px 8px 8px rgb(0, 0, 0);
}
footer li {
    color: white;
    text-shadow:  8px 8px 8px rgb(0, 0, 0);
    font-weight: bold;
}


h1 {
    font: bold 45px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    color: rgb(186, 255, 227);
    text-shadow: 5px 5px 5px rgb(0, 63, 47);
}
h2 {
    font: bold 30px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    color: rgb(255, 191, 233);
    text-shadow: 5px 5px 5px rgb(85, 0, 38);
    margin: 20px;
}
div img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 1%;
    padding: 1%;
    border: 3px solid rgb(186, 255, 227);
}
div img:hover {
    animation: image 3s 1;
}
iframe {
    margin: 1%;
    border: none;
    border-radius: 30px;
}

@keyframes image {
    0% {transform: rotate3d(1, 1, 1, 0deg); transform: scale(1.2);}
    50% {transform: rotate3d(1, 1, 1, 360deg);}
    100% {transform: rotate3d(1, 1, 1, 0deg);}
}