
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 3%;
}
header a {
    text-decoration: none;
    color: white;
    width: 10vw;
    font-size: 1.5vw;
    border: 1.5px solid white;
}
header a:nth-child(1) {
    border: none;
}
header a img {
    width: 100%;
    border-radius: 5%;
}

footer {
    padding: 10px;
    margin-bottom: 1%;
    text-align:center;
    width: 100%;
    background-color: rgba(185, 111, 0, 0.676);
    text-shadow:  8px 8px 8px rgb(0, 0, 0);
}
footer li {
    color: white;
    font-weight: bold;
}


main {
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p-1 {
    display: flex;
    flex-direction: column;
    font-size: 460%;
    background-color: rgba(185, 111, 0, 0.703);
    color: white;
}
p-1 a {
    font-family: fantasy;
    color: rgb(46, 29, 18);
    text-shadow:  5px 5px 5px rgb(255, 162, 0);
    text-decoration: none;
    animation: elaine 10s infinite;
}
p-2 {
    display: block;
    margin: 3%;
    font-size: 25px;
    color: white;
    text-shadow:  5px 5px 5px rgb(36, 11, 1);
}
main ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 4%;
}
main ul a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    margin: 4%;
    border-radius: 90%;
    box-shadow: 10px 5px 5px rgba(46, 35, 30, 0.842);
    background-color: rgba(185, 111, 0, 0.676);
    color:white;
    font-size: 220%;
}
main ul a:hover {
    transform: scale(1.3);
    color: rgb(202, 27, 0);
    transition: all 1s linear;
}

@keyframes elaine {
    0% {color: rgb(141, 82, 0); letter-spacing: 0px;}
    25% {color: rgb(202, 27, 0); letter-spacing: 6px;}
    50% {color: rgb(121, 40, 0); letter-spacing: 12px;}
    75% {color:rgb(255, 85, 23); letter-spacing: 6px;}
    100% {color: rgb(141, 82, 0); letter-spacing: 0px;}
}
